@font-face {
	font-family: 'Neo Sans Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/NeoSansPro-Regular.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/NeoSansPro-Regular.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/NeoSansPro-Regular.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/NeoSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bernard MT Condensed';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/BernardMT-Condensed.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/BernardMT-Condensed.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/BernardMT-Condensed.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/BernardMT-Condensed.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/BernardMT-Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Plantagenet Cherokee';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/PlantagenetCherokee.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/PlantagenetCherokee.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/PlantagenetCherokee.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/PlantagenetCherokee.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/PlantagenetCherokee.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLT Com 57 Cn';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTCom-BdCn.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTCom-BdCn.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTCom-BdCn.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTCom-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-BoldIt.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldIt.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldIt.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Semibold.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Semibold.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Semibold.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Regular.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Regular.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Regular.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Bold.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Bold.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Bold.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-SemiboldIt.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-SemiboldIt.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-SemiboldIt.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Cond.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Cond.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Cond.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-Cond.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCn.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCn.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCondIt.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCondIt.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCondIt.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCondIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-CondIt.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-CondIt.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-CondIt.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-CondIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCnO.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCnO.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCnO.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCnO.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/HelveticaNeueLTStd-MdCnO.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCond.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCond.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCond.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-BoldCond.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-It.eot');
	src: url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-It.woff2') format('woff2'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-It.woff') format('woff'),
		url('https://raw.githubusercontent.com/shafeeque-s/sparkpro/master/fonts/MyriadPro-It.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
